body,
#root {
  margin: 0;
  height: 100vh;
}

body {
  overflow-y: auto;
  background: var(--baby-blue);
}

:root {
  --main-purple: #4e2a84;
  --main-purple-light: #8655cf;
  --details-blue: #4879c5;
  --light-green: #a2cd61;
  --dark-green: #60842a;
  --sea-green: #2a844e;
  --baby-blue: #f3feff;
  --dark-blue: #1b7b9f;
  --black: #333;
  --manilla: #f0edcc;
  --manilla-dark: #e0ddbd;
}
